body {
  font-family: sans-serif;
  background: url(/static/ThistleBackground.jpg) no-repeat center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 100%;
  background-color: rgb(155, 155, 155);
}

fieldset {
  margin-top: 1em;
  margin-bottom: 1em;
}

fieldset label {
  font-weight: bold;
}

.flash-msg {
  font: bold;
  color:rgb(20, 67, 220);
}

.form, #subtitle {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.remove_form {
    display: inline-block;
  }

#create_transaction, #create_account {
  width: 100%;
  max-width: 555px;
  padding: 0;
  margin: 0;
}

.profile-title {
  color: #c2b8f5; 
}

.profile-title:hover {
  color: #ddd9f8;
  text-decoration: none;
}

.amount {
  cursor: pointer;
}

#main-container {
  background-color: rgba(255, 255, 255, 0.493);
}

#note {
  font-size: smaller;
}

nav {
  background-color: rgb(69, 58, 95);
}

.nothing {
  font-size: x-large;
  color:deeppink;
}

#transaction_table {
  background-color: rgba(255, 255, 255, 0.493);
}

#subtitle {
  font: bold;
  color: rgb(111, 25, 151);
}

.title {
  font: bold;
  color: rgb(111, 25, 151);
}

.form-label {
  width: 160px;
}