body {
  font-family: sans-serif;
  /* background: url(/static/Thistle.jpg) no-repeat center center;
  background-size: cover; */
}

fieldset {
  margin-top: 1em;
  margin-bottom: 1em;
}

fieldset label {
  font-weight: bold;
}

.flash-msg {
  font: bold;
  color:rgb(20, 67, 220);
}

.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.remove_form {
    display: inline-block;
  }

#create_transaction {
  width: 100%;
  max-width: 555px;
  padding: 0;
  margin: 0;
}


#note {
  font-size: smaller;
}

.nothing {
  font-size: x-large;
  color:deeppink;
}

.title {
  font: bold;
  color: rgb(111, 25, 151)
}