{% extends 'base.html' %}
{% block title %}About Me{% endblock %}

{% block body %}
<div id="aboutme">
  <img src="/static/iris-kuhn.jpg" id="portrait">
  <h1>About Me</h1>
  <p>
    Hi! My name is Iris Kuhn. My former self was a hospital pharmacist. I always like to find
    different ways to help improve efficiency and I believe software engineering can help us achieve that, and more!
  </p>
  <p>
    In August last year, timing was right, and I decided to dive in and pursue software engineering at Hackbright. I
    hope with what I learned from Hackbright and self-studying after graduation, I will be better equipped to build
    software that helps improve productivity, allowing us to focus on solving other issues or problems.
  </p>
  <h5><b>Why I Created This App</b></h5>
  <p>
    When I was planning my wedding, I was having a hard time balancing my checking account because all the one-time big
    expenses, like floral arrangement and venue, were dued at different days. I didn't want to run into negative balance
    and pay extra fees so
    I started tracking them in a spreadsheet.
  </p>
  <p>
    I found it was super helpful for me to see my projected budget and I have been using this spreadsheet ever since. I
    hope you will find this app helpful as well!
  </p>
</div>
{% endblock %}