{% extends 'base.html' %}
{% block title %}Account Details{% endblock %}

{% block body %}
<h1>Hi! {{ session['user_name'] }}</h1>
{% if entries %}
<h3>Account ID: {{ account.account_id }}</h3>
<h3>Account Type: {{ account.account_type }}</h3>
<h3>Account Nickname: {{ account.account_nickname }}</h3>
  <table>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Projected Balance</th>
      <th>Category</th>
      <th>Description</th>
      <th></th>
    </tr>
    {% set ns = namespace(balance=0) %}
    {% for entry in entries %}
      <tr>
        <td>{{ entry.date }}</td>
        <td>${{ entry.amount }}</td>
        <td>${{ entry.amount + ns.balance }}</td>
        <td>{{ entry.category }}</td>
        <td>{{ entry.description }}</td>
        <td>
          <form class="remove_button" action="/handle_entry_removal">
            <input type="hidden" name="account_id" value="{{ account.account_id }}">
            <button type="submit" name="entry_id" value="{{ entry.entry_id }}">Remove</button>
          </form>
        </td>
      </tr>
      {% set ns.balance = entry.amount + ns.balance %}  
    {% endfor %}  
  </table>
{% else %}
<div class="nothing">You currently do not have any entries. Please add an entry.</div>
<br>
{% endif %}
<h3>Create a New Transaction</h3>
<form id="create_transaction" action="/create_transaction" method="POST">  
  <div class="forms">
    <input type="hidden" name="account_id" value="{{ account.account_id }}">
    <p>
      Transaction <input type="number" name="amount" required>
    <span id='note'>Note: Income = positive number; Expense = negative number</span>
    </p>
    <p>
      Transaction Date <input type="date" name="date" required> 
    </p>
    <p>
      Category <select name="category" required>
        <option value="Income">Income</option>
        <option value="Expense">Expense</option>
      </select>  
    </p>
    <p>
      Description <input type="text" name="description">  
    </p>
    <br>
    
    <!-- Recurrent Entry -->
    <h4>If Recurrent Entry, please fill out the form below:</h4>
    <p>
      Stop Date <input type="date" name="stop_date"> 
    </p>
    <p>
      Frequency (How often?): Every <input type="number" name="frequency_int" step=1 value=0>
      <select name="frequency_unit">
        <option value="days" value=0>day(s)</option>
        <option value="weeks" value=0>week(s)</option>
      </select>
    </p>
    <p>
      <input type="submit">  
    </p>
  </div>
</form>

{% endblock %}

{% block after_body %}
<br>
<br>
<br>
<div>
  <a href="/profile">Return to Profile</a>
</div>
<br>
<div>
  <form action="/logout">
    <button type="submit" name="logout">Log Out</button>
  </form>
</div>
{% endblock %}