<!doctype html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"> -->
    <title>
      {% block title %}{% endblock %}
    </title>
    <!-- jQuery -->
    <script 
          src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
          crossorigin="anonymous"></script>      
    <style>
      body {
        font-family: sans-serif;
      }
  
      fieldset {
        margin-top: 1em;
        margin-bottom: 1em
      }
  
      fieldset label {
        font-weight: bold;
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}

    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
  </body>
</html>
