{% extends 'base.html' %}
{% block title %}Projected Budget Home{% endblock %}

{% block body %}
  <h1>Welcome to My First Project Website!</h1>
  <h3>This site can help you see your projected budget for up to 4 months!</h3>
  <br>
  <br>
  <h3>Please Log In</h3>
  <form action="/confirm_account" method="POST">
    <p>
      Email <input type="text" name="email" required>
    </p>
    <p>
      Password <input type="password" name="password" required>
    </p>
    <p>
      <button type="submit">Log In</button>
    </p>
  </form>
  <br>
  <h3>Create a New Account</h3>
  <form id="create_user" action="/create_user" method="POST">
    <p>
      First Name <input type="text" name="first_name" required>
    </p>
    <p>
      Last Name <input type="text" name="last_name" required>
    </p>
    <p>
      Email <input type="text" name="email" required>
    </p>
    <p>
      Password <input type="password" name="password" required>
    </p>
    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}