{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block body %}
<h1>Hi! {{ session['user_name'] }}</h1>
<h2>Your User ID is {{ session['user_id'] }}</h2>
<br>
{% if accounts %}
<h3>Your Accounts</h3>
  <ul>
  {% for account in accounts %}
      <li>
        <a href="/profile/{{ account.account_id }}">
          {{ account.account_nickname }} - {{account.account_type}}
        </a>  
        <form class="remove_button" action="/handle_account_removal">
          <button type="submit" name="account_id" value="{{ account.account_id }}">Remove</button>
        </form>
      </li>
      <br>
  {% endfor %}
{% else %}
<div class="nothing">You currently do not have any accounts. Please add an account.</div>
{% endif %}  
</ul>
<h3>Create a New Account</h3>
<form id="create_account" action="/create_account" method="POST">  
  <div class="forms">
    <p>
      Account Type <select name="account_type">
        <option value="Checking">Checking</option>
        <option value="Saving">Saving</option>
        <option value="Other">Other</option>
      </select>
    </p>
    <p>
      Account Nickname (Optional) <input type="text" name="account_nickname">  
    </p>
    <p>
      <input type="submit">  
    </p>
  </div>  
</form>
{% endblock %}

{% block after_body %}
<div>
  <form action="/logout">
    <button type="submit" name="logout">Log Out</button>
  </form>
</div>
{% endblock %}