{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block body %}
<div class="font-up-bold text-uppercase alert-success">
  <nav class="navbar justify-content-between" aria-label="breadcrumb">
    <ol class="breadcrumb m-0 alert-success align-items-center">
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
    <form class="form-inline" action="/logout">
      <button type="submit" class="btn btn-secondary my-2 my-sm-0" name="logout">Log Out</button>
    </form>
  </nav>
</div>
<h2>Hi! {{ session['user_name'] }}</h2>
{% if accounts %}
<h5>Please select an account to see transactions</h5>
<br>
<h3>Your Accounts</h3>
  <div class="list-group">
    <ol class="p-0">
  {% for account in accounts %}
      <li class="list-group list-group-item list-group-item-action list-group-item-info">
        <a href="/profile/{{ account.account_id }}" class="text-dark">
          {{ account.account_nickname }} - {{account.account_type}}
        </a>
        <form class="remove_form form-inline" action="/handle_account_removal">
          <button class="btn-sm btn-outline-danger" type="submit" name="account_id" value="{{ account.account_id }}">Remove</button>
        </form>
      </li>
      <br>
  {% endfor %}
    </ol>
{% else %}
    <div class="nothing">You currently do not have any accounts. Please add an account.</div>
{% endif %}  
  </div>
<br>
<br>
<h4 class="title">Create a New Account</h4>
<form id="create_account" class="form" action="/create_account" method="POST">
  <div class="form-group">
    <div class="form-row align-items-center">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <label for="inlineFormCustomSelect" class="sr-only">Account Type</label>
          <span class="input-group-text" for="inlineFormCustomSelect">Account Type</span>
        </div>
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="account_type">
            <option selected>Choose one</option>  
            <option value="Checking">Checking</option>
            <option value="Saving">Saving</option>
            <option value="Other">Other</option>
          </select>
      </div>
    
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <label for="inputAccountNickname" class="sr-only">Account Nickname (Optional)</label>
          <span class="input-group-text" for="inlineForm">Account Nickname</span>
        </div>
          <input type="text" class="form-control mr-sm-2" name="account_nickname" placeholder="Optional">
      </div>
  </div>
    <div class="form-row align-items-center">
      <button type="submit" class="btn btn-success mb-2">Submit</button>
    </div>
  </div>
</form>
{% endblock %}

