{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block body %}
<h1>Hi! {{ session['user_name'] }}</h1>
<h2>Your User ID is {{ session['user_id'] }}</h2>
<h3>Account ID: {{ account_id }}</h3>
<h3>Account Type: {{ account_type }}</h3>
<h3>Bank: {{ bank_name }}</h3>
  <table>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Projected Balance</th>
      <th>Category</th>
      <th>Description</th>
    </tr>
    {% set ns = namespace(balance=0) %}
    {% for entry in entries %}
      <tr>
        <td>{{ entry.date }}</td>
        <td>${{ entry.amount }}</td>
        <td>${{ entry.amount + ns.balance }}</td>
        <td>{{ entry.category }}</td>
        <td>{{ entry.description }}</td>
      </tr>
      {% set ns.balance = entry.amount + ns.balance %}  
    {% endfor %}  
  </table>
<br>
<br>
<!-- Create a new bank account -->
<h3>Enter a New Bank Account</h3>
<form id="create_bank_account" action="/create_bank_and_transaction" method="POST">
  <p>
    Bank Name <input type="text" name="bank_name" required>
  </p>
  <p>
    Account Type <select name="account_type">
      <option value="checking">Checking</option>
      <option value="saving">Saving</option>
      <option value="other">Other</option>
    </select>
  </p>
  <p>
    Transaction <input type="number" name="amount">
  </p>
  <p id='Note'>
    Note: Income = positive number; Expense = negative number  
  </p>
  <p>
    Transaction Date <input type="date" name="transac_date"> 
  </p>
  <p>
    Category <select name="category">
      <option value="income">Income</option>
      <option value="expense">Expense</option>
    </select>  
  </p>
  <p>
    Description <input type="text" name="description">  
  </p>
  <p>
    <input type="submit">  
  </p>
</form>


  {% endblock %}

